{% extends "index.html" %}

{% block content %}

<div class="homepage">
  <div class="whatisIntarnia">
  <header>What is Intarnia?</header>
  <p>
  Coming to a foreign country for your studies is not always easy. You don't know the language, are unfamiliar with the culture, and have no familiar faces upon arrival. That is why we as Intarnia want to help you make the best out of your time as a student in the Netherlands by creating a supportive community for all international students across Avans campus. We aim to do this with fun events throughout the year as well as a support network.
  </p>
  <p>
  As a member of Intarnia, you will have the opportunity to meet and interact with fellow international students, as well as engage with the wider Avans community. We understand that transitioning to a new country and culture can be challenging, so we meet regularly to ensure a strong bond among our members. Are you interested in meeting people from all over the world and making lasting friendships? Then sign up and become a member of Intarnia, and consider joining our next event
  </p>
    <div>
      <a href="login_view">
        <button>Become a Member!</button>
      </a>
    </div>
  </div>
  <div class="logotext">
  </div>
</div>
{% endblock %}