{% extends "index.html" %}

{% block title %}Who are we?{% endblock %}

{% block content %}
<div class="whoarewe">
  <div class="intro">
    <header>Who are we?</header>
  <p>
    In the winter and spring of 2023, 7 international students took matters into their own hands and S.V. Intarnia was born.  
  </p>
  <p>
    We aim to provide a safe place where students can feel at home, make friends, and integrate into Dutch society. We want to bring together individuals from diverse backgrounds and cultures, to create a space where they can build lasting friendships, exchange cultural knowledge, and develop valuable networks. 
  </p>
  <p>  
    Intarnia aims to achieve this by organizing formal and informal events tailored by your input. Our formal events include job fairs and other networking events, which are designed to help our members gain valuable insights into the Dutch job market and connect with potential employers. Our informal events, on the other hand, offer a relaxed and fun environment where members can participate in activities like BBQs, parties, and other cultural events. 
  </p>
</div>
</div>
{% endblock %}